html,
body {
    margin: 0;
    height: 100%;
}
body {
    position: relative;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative
}
/*styles for the placement module */
.placement-module-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 650px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-right: 30px;
    border-radius: 10px;
}
.placementText {
    height: 10%;
}
.middleSubcontainer, .rightInfoSubcontainer {
    display: flex;
    align-items: center;
    padding: 10px;
}
.middleSubcontainer {
    gap: 30px;
}
.rightInfoSubcontainer {
    gap: 10px;
    flex-direction: column;
    align-items: center;
}
.rightInfoButtonsContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
}
.bottomSubcontainer {
    display: flex;
    gap: 20px;
    margin-left: -200px;
    height: 25%;
    margin-top: 20px;
}
.placementInstructionBox {

}
.shipAllClassesContainer {
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgba(0, 0, 255, 0);
    gap: 20px;
    width: 400px;
    
}
.singleShipClassContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ship {
    display: flex;
    gap: 1px;
}
.shipAlt {
    display: flex;
    flex-direction: column;
    gap: 1px;
    border: solid black 2px;
}

/*styles for the two grids and coordinates */
.doubleBoardContainer {
    display: flex;
    gap: 175px;
    padding: 10px;
}
.singleBoardContainer {
    display: flex;
    flex-direction: column;
}
.xCoordinateContainer {
    display: flex;
    gap: 1px;
    margin-left: 35px;
    margin-bottom: -10px;
}
.yCoordinateContainer {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-top: 10px;
}
.leftSquare {
    display: flex;
    justify-content: center;
}
.leftSquare, .upperSquare {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
}
.subcontainer {
    display: flex;
}
.placementSquare {
    height: 35px;
    width: 35px;
    background-color: red;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.square {
    border: solid black;
    color: black;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square:hover, .placementSquare:hover {
    border: solid black;
    color: black;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cbd5e1;
}
.squareContainer {

}
.grid-container {
    height: 350px;
    width: 350px;
    display: grid;
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: repeat(10, 35px);
    grid-auto-flow: column;
    gap: 1px;
}
/* styles for score card */
.singleBoardScoreContainer {
    display: flex;
    gap: 5px;
    justify-content: left;
}

/*styles for game controller hud*/
.populateButton, .placementButton {
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonContainer {
    display: flex;
    gap: 15px;
    justify-content: center;
}
.formContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 10px;
}
.winnerCard {
    position: absolute;
    background-color: red;
    top: 35%;
    left: 49%;
}
.selectSquare {
    
}