html,
body {
    margin: 0;
    height: 100%;
}
body {
    position: relative;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative
}
/*styles for the placement module */
.placement-module-container {
    position: relative;
    /*bottom: 70vh;
    left: 59.5vh;
    width: 430px;*/
    bottom: 70vh;
    left: 10vh;
    width: 75%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-right: 30px;
    border-radius: 10px;
}
.placement-module-subcontainer {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-right: 30px;
    border-radius: 10px;
}

/*styles for the two grids and coordinates */
.doubleBoardContainer {
    display: flex;
    gap: 175px;
    padding: 10px;
}
.singleBoardContainer {
    display: flex;
    flex-direction: column;
}
.xCoordinateContainer {
    display: flex;
    gap: 3px;
    margin-left: 35px;
    margin-bottom: -10px;
}
.yCoordinateContainer {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 10px;
}
.leftSquare {
    display: flex;
    justify-content: center;
}
.leftSquare, .upperSquare {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
}
.subcontainer {
    display: flex;
}
.placementSquare {
    height: 35px;
    width: 35px;
    background-color: red;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square {
    border: solid black;
    color: black;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square:hover, .placementSquare:hover {
    border: solid black;
    color: black;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cbd5e1;
}
.squareContainer {

}
.grid-container {
    height: 350px;
    width: 350px;
    display: grid;
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: repeat(10, 35px);
    grid-auto-flow: column;
    gap: 3px;
}
/* styles for score card */
.singleBoardScoreContainer {
    display: flex;
    gap: 5px;
    justify-content: left;
}

/*styles for game controller hud*/
.populateButton {
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonContainer {
    display: flex;
    gap: 15px;
    justify-content: center;
}
.formContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 10px;
}
.winnerCard {
    position: absolute;
    background-color: red;
    top: 35%;
    left: 49%;
}
.selectSquare {
    
}